* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryTextColour: #232e25;
  --secondaryTextColour: #656d72;
  --navyColour: #041e3a;
  --maroonColour: maroon;

  --primaryBackground: #fff;
  --secondaryBackground: #fbfbfb;
  --thirdBackground: #f5f3fe;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif, Arial, Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6 strong {
  color: var(--primaryTextColour);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColour);
}

a {
  text-decoration: none;
}

/* navbar */
.main-container {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav ul li {
  display: flex;
  align-items: center;
}

.nav ul li a {
  color: var(--primaryTextColour);
}

.nav ul li a:hover {
  color: var(--maroonColour);
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--primaryTextColour);
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

/* Hero Section */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5 0 1rem;
}

.hero-name span {
  color: var(--maroonColour);
}

.hero-right {
  display: flex;
  justify-content: center;
}

.hero-right img {
  width: 70%;
  box-shadow: 0px 1px 9px 8px #eee;
  padding: 17px;
  box-sizing: border-box;
  margin: 0 0 30px;
}

/* titles */
.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColour);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--secondaryTextColour);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* about section */
#services {
  background-color: var(--secondaryBackground);
  padding: var(--sectionPadding);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background-color: var(--primaryBackground);
  border-radius: var(--itemBorderRadius);
}

.service:hover {
  transform: translateY(-0.8rem);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.service-icon {
  background-color: var(--thirdBackground);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service svg {
  fill: var(--maroonColour);
}

/* portofolio section */
#portofolios {
  padding: var(--sectionPadding);
}

.portofolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--thirdBackground);
}

.portofolio-cover {
  height: 250px;
}

.portofolio-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portofolio-cover img:hover {
  object-fit: scale-down;
}

.portofolio-info {
  padding: 2rem 1.5rem;
}

.portofolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portofolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portofolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portofolio-title a svg:hover {
  fill: var(--maroonColour);
}

.portofolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portofolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--thirdBackground);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColour);
}

/* skills & education */
#skills {
  padding: var(--sectionPadding);
  background-color: var(--secondaryBackground);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 2rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background-color: var(--thirdBackground);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* contact section */
#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "ubuntu", sans-serif;
  background: var(--secondaryBackground);
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #7d7d7d;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--maroonColour);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background: rgb(99, 0, 0);
}

.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdBackground);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--maroonColour);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* footer */
footer {
  padding: 4rem 0;
  background: var(--secondaryBackground);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: #3e3f40;
}

.footer-icons a:hover svg {
  fill: var(--maroonColour);
  transform: translateY(-0.5rem);
}

/* dot on line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--thirdBackground);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

/* layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* media */
@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  .grid-3 {
    gap: 1rem;
  }

  .skills-right ul li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 825px) {
  /* burger */
  .burger {
    display: block;
    cursor: pointer;
  }

  .toggle-burger .line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .toggle-burger .line-2 {
    opacity: 0;
  }

  .toggle-burger .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* navbar */
  nav {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background-color: var(--primaryBackground);
    border-left: 1px solid #f1f1f1;
    z-index: 9;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  nav ul {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .nav-active {
    transform: translateX(0);
  }

  :root {
    --sectionPadding: 4rem 0;
  }

  .section-title {
    font-size: 1.6rem;
    margin: 0.6rem 0 2.5rem;
  }

  .pre-title {
    font-size: 0.8rem;
  }

  /* hero section */
  #hero {
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .hero-right {
    order: -1;
  }

  .hero-right img {
    width: 70%;
  }

  .hero-left {
    text-align: center;
    padding-bottom: 5rem;
  }

  .hero-left .pre-title {
    margin: 0 auto;
  }

  .hero-name {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  /* skills section */
  .skills-grid {
    gap: 1rem;
  }

  /* footer section */
  footer {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 640px) {
  /* titles */
  .section-title {
    font-size: 1.3rem;
  }

  .pre-title {
    font-size: 0.7rem;
  }
}
